#huifu01{
    position: fixed;
    left: 63px;
    top: 96px;
    width: 500px;
    height: 200px;
    background-color: #cfe7e6;
    z-index:20;
    border-radius: 10px;
    /*display: none;*/
    display: none;
}

#huifu02{
    position: fixed;
    left: 73px;
    top: 105px;
    width: 480px;
    height: 180px;
    background-color: #eef5f4;
    z-index:21;
    border-radius: 10px;
}

#input01{
    width: 477px;
    height: 140px;
    background-color: #eef5f4;
    z-index:22;
    border-radius:10px 10px 0px 0px;
    border-style:solid;
    color: #7db5db;
    font-size: 20px;
    resize:none
}

#button01{
    width: 398px;
    height: 38px;
    background-color: #3385FF;
    z-index:22;
    border-style:solid;
    font-size: 20px;
    color: #ffffff;
}

#button02{
    width: 80px;
    height: 38px;
    background-color: #3385FF;
    z-index:22;
    border-style:solid;
    font-size: 20px;
    color: #ffffff;
}

