<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.lizi.lizi.mapper.ForumMapper" >

    <sql id="searchInfoSql">
        id AS id,
        user_id AS userId,
        nick_name AS nickName,
        user_head_portrait_url AS userHeadPortraitUrl,
        forum_parent_id AS forunParentId,
        forum_subject AS forumSubject,
        forum_content AS forumContent,
        forum_pictures AS forumPictures,
        forum_collect_count AS forumCollectCount,
        forum_evaluate_count AS forumEvaluateCount,
        forum_select_count AS forumSelectCount,
        create_time AS createTime,
        update_time AS updateTime
    </sql>

    <sql id="whereinfoSql">
        WHERE 1
        <trim prefix="" suffixOverrides="">
            <if test="id != null"> AND id = #{id}</if>
            <if test="userId != null"> AND user_id = #{userId}</if>
            <if test="nickName != null"> AND nick_name = #{nickName}</if>
            <if test="userHeadPortraitUrl != null"> AND user_head_portrait_url = #{userHeadPortraitUrl}</if>
            <if test="forumParentId != null"> AND forum_parent_id = #{forumParentId}</if>
            <if test="forumSubject != null"> AND forum_subject LIKE '%${forumSubject}%'</if>
            <if test="forumContent != null"> AND forum_content LIKE '%${forumContent}%'</if>
            <if test="forumCollectCount != null"> AND forum_collect_count = #{forumCollectCount}</if>
            <if test="forumEvaluateCount != null"> AND forum_evaluate_count = #{forumEvaluateCount}</if>
            <if test="forumSelectCount != null"> AND forum_select_count = #{forumSelectCount}</if>
            <if test="createTime != null"> AND create_time = #{createTime}</if>
            <if test="updateTime != null"> AND update_time = #{updateTime}</if>
        </trim>
    </sql>

    <!-- 新增 -->
    <insert id="addForum" keyProperty="id" useGeneratedKeys="true" parameterType="cn.lizi.lizi.model.forum.ForumInfoModel" >
        INSERT INTO xt_forum_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null"> user_id,</if>
            <if test="nickName != null"> nick_name,</if>
            <if test="userHeadPortraitUrl != null"> user_head_portrait_url,</if>
            <if test="forumParentId != null"> forum_parent_id,</if>
            <if test="forumSubject != null"> forum_subject,</if>
            <if test="forumContent != null"> forum_content,</if>
            <if test="forumPictures != null"> forum_pictures,</if>
            <if test="forumCollectCount != null"> forum_collect_count,</if>
            <if test="forumEvaluateCount != null"> forum_evaluate_count,</if>
            <if test="forumSelectCount != null"> forum_select_count,</if>
            <if test="createTime != null"> create_time,</if>
            <if test="updateTime != null"> update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null"> #{userId},</if>
            <if test="nickName != null"> #{nickName},</if>
            <if test="userHeadPortraitUrl != null"> #{userHeadPortraitUrl},</if>
            <if test="forumParentId != null"> #{forumParentId},</if>
            <if test="forumSubject != null"> #{forumSubject},</if>
            <if test="forumContent != null"> #{forumContent},</if>
            <if test="forumPictures != null"> #{forumPictures},</if>
            <if test="forumCollectCount != null"> #{forumCollectCount},</if>
            <if test="forumEvaluateCount != null"> #{forumEvaluateCount},</if>
            <if test="forumSelectCount != null"> #{forumSelectCount},</if>
            <if test="createTime != null"> #{createTime},</if>
            <if test="updateTime != null"> #{updateTime},</if>
        </trim>
    </insert>

    <!-- 批量新增 -->
    <insert id="addForumList" keyProperty="id" useGeneratedKeys="true" parameterType="cn.lizi.lizi.model.forum.ForumInfoModel" >
        INSERT INTO xt_forum_info
        (user_id,nick_name,user_head_portrait_url,forum_parent_id,forum_subject,forum_content,create_time)
        VALUES
        <foreach collection ="list" item="item" separator =",">
            (#{item.userId}, #{item.nickName}, #{item.userHeadPortraitUrl}, #{item.forumParentId}, #{item.forumSubject}, #{item.forumContent}, #{item.createTime})
        </foreach>
    </insert>

    <!-- 修改 -->
    <update id="updateForum">
        UPDATE
        xt_forum_info
        <set>
            <trim prefix="" suffixOverrides=",">
                <if test="id != null">id=#{id}</if>
                <if test="userId != null">user_id=#{userId}</if>
                <if test="nickName != null">nick_name=#{nickName}</if>
                <if test="userHeadPortraitUrl != null">user_head_portrait_url=#{userHeadPortraitUrl}</if>
                <if test="forumParentId != null">forum_parent_id=#{forumParentId}</if>
                <if test="forumSubject != null">forum_subject=#{forumSubject}</if>
                <if test="forumContent != null">forum_content=#{forumContent}</if>
                <if test="forumCollectCount != null">forum_collect_count=#{forumCollectCount}</if>
                <if test="forumEvaluateCount != null">forum_evaluate_count=#{forumEvaluateCount}</if>
                <if test="forumSelectCount != null">forum_select_count=#{forumSelectCount}</if>
                <if test="createTime != null">create_time=#{createTime}</if>
                <if test="updateTime != null">update_time=#{updateTime}</if>
            </trim>
        </set>
        WHERE
        id = #{id}
    </update>

    <!-- 查询列表  最新 -->
    <select id="queryForumListZuiXin" resultType="cn.lizi.lizi.model.forum.ForumInfoModel">
        SELECT
        <include refid="searchInfoSql"/>
        FROM xt_forum_info
        <include refid="whereinfoSql"/>
        ORDER BY createTime DESC
    </select>

    <!-- 查询列表  热门 -->
    <select id="queryForumListReMen" resultType="cn.lizi.lizi.model.forum.ForumInfoModel">
        SELECT
        <include refid="searchInfoSql"/>
        FROM xt_forum_info
        <include refid="whereinfoSql"/>
        ORDER BY forum_evaluate_count DESC
    </select>

    <!-- 查询列表  精华 -->
    <select id="queryForumListJingHua" resultType="cn.lizi.lizi.model.forum.ForumInfoModel">
        SELECT
        <include refid="searchInfoSql"/>
        FROM xt_forum_info
        <include refid="whereinfoSql"/>
        ORDER BY createTime DESC
    </select>

    <!-- 查询列表-->
    <select id="queryForumList" resultType="cn.lizi.lizi.model.forum.ForumInfoModel">
        SELECT
        <include refid="searchInfoSql"/>
        FROM xt_forum_info
        <include refid="whereinfoSql"/>
        ORDER BY createTime DESC
    </select>

    <!-- 查询详情 -->
    <select id="queryForumDetail" resultType="cn.lizi.lizi.model.forum.ForumInfoModel">
        SELECT
        <include refid="searchInfoSql"/>
        FROM xt_forum_info
        <include refid="whereinfoSql"/>
        ORDER BY createTime
    </select>


    <sql id="parentSearchInfoSql">
        id AS id,
        forum_parent_name AS forumParentName,
        cerate_time AS cerateTime,
        update_time AS updateTime
    </sql>

    <insert id="addForumParent" keyProperty="id" useGeneratedKeys="true" parameterType="cn.lizi.lizi.model.forum.ForumParentDetailModel" >
        INSERT INTO xt_forum_parant_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="forumParentName != null"> forum_parent_name,</if>
            <if test="cerateTime != null"> cerate_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="forumParentName != null"> #{forumParentName},</if>
            <if test="cerateTime != null"> #{cerateTime},</if>
        </trim>
    </insert>


    <select id="queryForumParentList" resultType="cn.lizi.lizi.model.forum.ForumParentDetailModel">
        SELECT
        <include refid="parentSearchInfoSql"/>
        FROM xt_forum_parant_info
        WHERE 1
        <trim prefix="" suffixOverrides="">
            <if test="id != null"> AND id = #{id}</if>
            <if test="forumParentName != null"> AND forum_parent_name = #{forumParentName}</if>
            <if test="cerateTime != null"> AND cerate_time = #{cerateTime}</if>
        </trim>
    </select>


    <!-- 修改访问次数 -->
    <update id="updateForumSelectCount" parameterType="cn.lizi.lizi.model.forum.ForumInfoModel">
        UPDATE
        xt_forum_info
        SET forum_select_count = forum_select_count+1
        WHERE
        id = #{id}
    </update>

    <!-- 修改收藏次数次数 -->
    <update id="updateCollectCount" parameterType="cn.lizi.lizi.model.forum.ForumInfoModel">
        UPDATE
        xt_forum_info
        SET forum_collect_count = forum_collect_count + 1
        WHERE
        id = #{id}
    </update>

    <!-- 修改评价次数次数 -->
    <update id="updateForumEvalCount" parameterType="cn.lizi.lizi.model.forum.ForumInfoModel">
        UPDATE
        xt_forum_info
        SET forum_evaluate_count = forum_evaluate_count + 1
        WHERE
        id = #{id}
    </update>

    <!--用户收藏字段-->
    <sql id="collectInfoSql">
        id AS id,
        user_id AS userId,
        forum_id AS forumId,
        create_time AS createTime,
        update_time AS updateTime
    </sql>

    <!--添加用户收藏-->
    <insert id="addCollect" keyProperty="id" useGeneratedKeys="true" parameterType="cn.lizi.lizi.model.forum.UserCollectModel" >
        INSERT INTO xt_user_collect_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null"> user_id,</if>
            <if test="forumId != null"> forum_id,</if>
            <if test="createTime != null"> create_time,</if>
            <if test="updateTime != null"> update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null"> #{userId},</if>
            <if test="forumId != null"> #{forumId},</if>
            <if test="createTime != null"> #{createTime},</if>
            <if test="updateTime != null"> #{updateTime},</if>
        </trim>
    </insert>

    <!--查询用户收藏列表-->
    <select id="queryUserCollectList" resultType="cn.lizi.lizi.model.forum.ForumInfoModel">
        SELECT
        xfi.id AS id,
        xfi.user_id AS userId,
        xfi.nick_name AS nickName,
        xfi.user_head_portrait_url AS userHeadPortraitUrl,
        xfi.forum_parent_id AS forunParentId,
        forum_subject AS forumSubject,
        xfi.forum_pictures AS forumPictures,
        xfi.forum_content AS forumContent,
        xfi.forum_collect_count AS forumCollectCount,
        xfi.forum_evaluate_count AS forumEvaluateCount,
        xfi.forum_select_count AS forumSelectCount,
        xfi.create_time AS createTime,
        xfi.update_time AS updateTime

        FROM xt_user_collect_detail xucd
        LEFT JOIN xt_forum_info xfi ON xucd.forum_id = xfi.id
        WHERE
        xfi.user_id = #{userId}
    </select>


    <!--查询用户是否收藏此贴-->
    <select id="queryUserIsCollect" resultType="cn.lizi.lizi.model.forum.UserCollectModel">
        SELECT
        id AS id
        FROM xt_user_collect_detail
        WHERE
        user_id = #{userId}
        AND
        forum_id = #{forumId}
        LIMIT 1
    </select>

</mapper>